* {
    margin: 0;
}
/* <!--------------------General Background Style for all pages-------> */
body {
    background-color: antiquewhite;
    background-image: url(background.jpg);
}


/* <!-------------------General Header Styles for all pages------------> */
.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header {
    padding: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(233, 206, 211);
    color:palevioletred;
    text-align: center;
    

}

.header div {
    padding-top: 15px;
    margin-right: 15px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    
}

/* <!-----------------General Navigation Style for all pages--------------> */
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
    color:palevioletred
}

a{
    color:palevioletred;
}

/* <!----------------------General Footer Style for all pages--------------------> */

.footer{
  text-align: center;
  color: palevioletred;
  font-size: 10px;
}


/* <!---------------Main Content Style for the About Me Page-----------------> */

h2{
  text-align: center;
  color: palevioletred;
}


p{font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
color: grey;
font-size: 20px;
}
.bio-para{
  padding-right: 15%;
  padding-left: 15%;
}

.bio-image {
    width: 30%;
    height: 50%;
    margin-right: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
      
  }


  /* <!----------------Main Content Style for the Skills Page-----------> */

  h2{
    text-align: center;
    color: palevioletred;
  }

 img {
  margin-top: 8px;
  vertical-align: middle;
  height: 250px;
  width: 45%;
  padding-bottom: 20px;
}
.skills{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
h3{
  width: 45%;
  color:gray
}

/* <_--------------------Main Content Style for the Contact Page-----> */
h2{
  text-align: center;
  color: palevioletred;
}
.form-style {
padding-left: 10px;
padding-bottom: 10px;
}
/* <---General Responsive Design for all pages-------> */
*,
*::before,
*::after {
}
.container {
width: 100%;
/* padding-right: 15px; */
/* padding-left: 15px; */
margin-right: auto;
margin-left: auto;
border: 15px solid lightgrey;
}

.container{
  background-color: lemonchiffon;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

